* {
	box-sizing: border-box;
}

body {
	background: #FFF;
	color: #333;
	font-family: Arial, sans;
	padding: 0;
	margin: 0;
}

h1, h2 {
	font-size: 1.5em;
	font-weight: normal;
	letter-spacing: 0.2em;
	margin: 0;
}

a {
	color: #333;
}

pre {
	tab-size: 2;
}

#app {
	display: flex;
}

.octicon {
	margin-right: .4em;
}

/* header */

.crumbs {
	align-items: center;
	display: flex;
	height: 2em;
	padding: .5vw;
}

.download, .clipboard, .markdown-preview {
	align-self: center;
	background: #EEE;
	border: 1px solid;
	border-color: #C2C0C2 #C2C0C2 #A19FA1;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0,0,0,.06);
	cursor: pointer;
	display: inline-block;
	padding: .5em;
	margin-left: .5em;
	text-decoration: none;
	transition: all .2s;
	white-space: nowrap;
}

.download:hover, .clipboard:hover, .markdown-preview:hover {
	background: #24272D;
	color: #FFF;
}

.on {
	background: #CCC;
	border-color: #A19FA1 #C2C0C2 #C2C0C2 #C2C0C2;
	color: #0C0;
}

/* sidebar */

.sidebar {
	min-width: 230px;
	white-space: nowrap;
	width: 230px;
}

.logo {
	align-items: center;
	background: #24272D;
	display: flex;
	justify-content: center;
	height: 2em;
	padding: .5vw;
}

	.logo a {
		color: #FFF;
		text-decoration: none;
	}

/* tree */

.tree {
	background: #EEE;
	overflow-x: auto;
	padding: .5vw;
}

.tree > .dir {
	padding: 0;
}

.dir {
	list-style: none;
	margin: 0;
	padding-left: 1em;
}

.dirname {
	cursor: pointer;
	font-weight: bold;
}

.dirname::before {
	content: '▾ ';
}

.dirname.collapsed::before {
	content: '▸ ';
}

.file {
	cursor: pointer;
	display: flex;
	margin-left: 1em;
}

.file.selected {
	background: #CCC;
}

.filename {
	flex-grow: 1;
}

.elapsed {
	color: #999;
	margin-left: 1em;
	text-align: right;
}

/* footer */

.sidebar-footer {
	background: #24272D;
	color: #FFF;
	padding: .5vw;
	text-align: center;
}

.status {
	margin-bottom: .3vw;
}

.status a {
	color: #FFF;
}

.conn-on {
	color: #0C0;
}

.conn-off {
	color: #C00;
}

/* resizer */

.resizer {
	background: white;
	cursor: col-resize;
	width: 5px;
}

/* editor */

.editor-header {
	display: flex;
}

.main {
	flex-grow: 1;
	overflow: auto;
}

.editor pre {
	margin: 0;
	padding-bottom: 20px;
}

.editor-no-content {
	color: #ccc;
	font-size: 5em;
	margin-top: 42vh;
	text-align: center;
}
