* {
	box-sizing: border-box;
}

body {
	background: #FFF;
	color: #333;
	font-family: Arial, sans;
	padding: 0;
	margin: 0;
}

h1, h2 {
	font-weight: normal;
	letter-spacing: 0.2em;
	margin: 0;
}

a {
	color: #333;
}

header, section {
	display: flex;
}

/* header */

.crumbs {
	align-items: center;
	display: flex;
	flex-grow: 1;
	padding: .5vw;
}

.logo {
	background: #24272D;
	color: #EEE;
	padding: .5vw;
	text-align: center;
	width: 10%;
}

.logo a {
	color: #FFF;
	text-decoration: none;
}

/* sidebar */

.sidebar {
	background: #EEE;
	overflow-x: auto;
	padding: .5vw;
	width: 10%;
}

.sidebar > .dir {
	padding: 0;
}

.dir {
	list-style: none;
	margin: 0;
	padding-left: 1em;
}

.dirname {
	font-weight: bold;
}

.file {
	cursor: pointer;
	display: flex;
	margin-left: 1em;
}

.file.selected {
	background: #DDD;
}

.filename {
	flex-grow: 1;
}

.elapsed {
	color: #999;
	text-align: right;
}

/* editor */

.editor {
	flex-grow: 1;
	padding: .5vw;
}

.editor pre {
	margin: 0;
}
